{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

<h1>Fiche session</h1>

<h2>{{ session }}</h2>

<div id="sum_session">
    Formateur référent: 
            {% if session.formateur == null %}
                <p>Pas de formateur d'inscrits</p>
            {% else %}
                <a href="{{ path('show_formateur', {'id': session.formateur.id }) }}">{{ session.formateur }}</a>
            {% endif %}  <br><br>
    Date de début: {{ session.dateDebut | date('d-m-Y') }} <br>
    Date de fin: {{ session.dateFin | date('d-m-Y') }} <br>
    Nombre de places: {{ session.nbPlace }} <br>
    Nombre de places disponibles:  {{ session.nbPlace - session.getPlaceReservee }}<br>
    Nombre de modules: {{ session.programmes | length }} (
        {% for programme in session.programmes %}
            {{ programme.module }}
        {% endfor %} )
</div>


<div id="control_panel">

    <div>
        <div>
            <h2>Stagiaires inscrits</h2>
            {% if session.stagiaires | length == 0 %}

                <p>Pas de stagiaires d'inscrits</p>

            {% else %}
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Stagiaire</th>
                            <th>Désinscrire</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stagiaire in session.stagiaires %}
                        <tr>
                            <td>{{ stagiaire }}</td>
                            <td><a href="{{ path('unsubscribe_session', {'idSe': session.id,'idSt': stagiaire.id }) }}"><i class="fa-solid fa-user-minus"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div>
            <h2>Stagiaires non inscrits</h2>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Stagiaire</th>
                        <th>Inscrire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stagiaire in nonInscrits %}
                    <tr>
                        <td>{{ stagiaire }}</td>
                        <td><a href="{{ path('subscribe_session', {'idSe': session.id,'idSt': stagiaire.id }) }}"><i class="fa-solid fa-user-plus"></i></a>
                            {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div>
            <h2>Programme</h2>
            {% if session.programmes | length == 0 %}

                <p>Pas de programmes</p>

            {% else %}
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Categorie</th>
                            <th>Durée</th>
                            <th>Déprogrammer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programme in session.programmes %}
                        <tr>
                            <td>{{ programme.module }}</td>
                            <td>{{ programme.module.categorie }}</td>
                            <td>{{ programme.nbJour }}</td>
                            <td><a href="{{ path('deprogram_module', {'idSe': session.id,'idPr': programme.id }) }}"><i class="fa-solid fa-file-circle-minus"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>


        <div>
            <h3>Modules non programmés</h3>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Categorie</th>
                        <th>Durée</th>
                        <th>Programmer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in nonProgrammes %}
                    <tr>
                        <td>{{ module }}</td>
                        <td>{{ module.categorie }}</td>
                        <form method="POST" action="{{ path('program_module', {'idSe': session.id,'idMo': module.id }) }}">
                            <td>{% for message in app.flashes('notice') %}
                                <div class="flash-notice">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            <input type="number" min="1" id="nbJours" name="nbJours" size="2"/> jours</td>
                            <td><button type="submit" name="submit" class="unstyled-button"><i class="fa-solid fa-file-circle-plus"></i></button></td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



{% endblock %}